.icon__plus {
    width: 18px;
    height: 18px;
    position: absolute;
    top: calc(50% - 9px);
    right: 13px;
}
.icon__plus:hover {
    cursor: pointer;
}
.icon__plus::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #998899;
    top: 50%;
}
.icon__plus::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #998899;
    top: 0;
    left: 50%;
}